/*!
 * Float Labels
 *
 * Version: 2.0.0
 * Author: Paul Ryley (http://geminilabs.io)
 * URL: https://github.com/geminilabs/float-labels.js
 * License: MIT
 */

//
// Variables
//

$fl-base-height             : 48px !default;
$fl-base-padding            : 7px !default;
$fl-border-radius           : 3px !default;
$fl-border-width            : 1px !default;
$fl-color-background        : #fff !default;
$fl-color-background-active : #fff !default;
$fl-color-background-focus  : #fff !default;
$fl-color-border            : #dfdfdf !default;
$fl-color-border-active     : #dfdfdf !default;
$fl-color-border-focus      : #1976D2 !default;
$fl-color-placeholder       : #bbb !default;
$fl-color-required          : #D32F2F !default;
$fl-color-text              : #444 !default;
$fl-color-text-focus        : #1976D2 !default;
$fl-font-size               : 16px !default;
$fl-font-size-small         : 11px !default;
$fl-font-weight             : 700 !default;
$fl-transition-easing       : ease-in-out !default;
$fl-transition-speed        : 0.2s !default;

//
// Styles
//

.fl-wrap {
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	text-rendering: optimizeLegibility;

	input.fl-input,
	select.fl-select,
	textarea.fl-textarea {
		width: 100%;
		font-size: $fl-font-size;
		line-height: normal;
		background-color: $fl-color-background;
		border: $fl-border-width solid $fl-color-border;
		border-radius: $fl-border-radius;
		box-sizing: border-box;
		outline: 0;
		transition: all $fl-transition-speed $fl-transition-easing;
		padding: ($fl-base-padding * 2);
	}

	input.fl-input,
	select.fl-select {
		height: $fl-base-height;
	}

	select.fl-select {
		position: relative;
		color: $fl-color-placeholder;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		transition: all $fl-transition-speed $fl-transition-easing;
		outline: 0;
	}

	label.fl-label {
		position: absolute;
		display: block;
		top: $fl-border-width;
		left: $fl-border-width;
		color: $fl-color-placeholder;
		font-size: $fl-font-size-small;
		font-weight: 700;
		line-height: 1;
		border-radius: $fl-border-radius;
		opacity: 0;
		visibility: hidden;
		transition: padding $fl-transition-speed $fl-transition-easing,
					opacity $fl-transition-speed $fl-transition-easing,
					visibility $fl-transition-speed $fl-transition-easing,
					color $fl-transition-speed $fl-transition-easing;
		padding: ($fl-base-padding) ($fl-base-padding * 2) ($fl-base-padding / 2);
		z-index: 1;
	}

	&.fl-wrap-textarea label.fl-label {
		right: $fl-border-width;
		background-color: $fl-color-background;
	}
}

.fl-wrap.fl-is-active {
	input.fl-input,
	select.fl-select,
	textarea.fl-textarea {
		color: $fl-color-text;
		background-color: $fl-color-background-active;
		border-color: $fl-color-border-active;
		padding: ($fl-base-padding * 3) ($fl-base-padding * 2) $fl-base-padding;
	}

	label.fl-label {
		opacity: 1;
		visibility: visible;
		background-color: $fl-color-background-active;
	}
}

.fl-wrap.fl-has-focus {
	input.fl-input,
	select.fl-select,
	textarea.fl-textarea {
		background-color: $fl-color-background-focus;
		border-color: #9E9E9E;
	}

	label.fl-label {
		color: $fl-color-text-focus;
		background-color: $fl-color-background-focus;
	}
}

.fl-wrap.fl-is-required {
	&:before {
		content: '*';
		display: block;
		position: absolute;
		top: 3px;
		right: ($fl-base-padding * 2);
		height: $fl-base-height;
		line-height: $fl-base-height;
		font-size: $fl-font-size;
		color: $fl-color-required;
		transition: all $fl-transition-speed $fl-transition-easing;
		z-index: 1;
	}

	&.fl-is-active:before {
		display: none;
	}
}

//
// Style 2
//

.fl-wrap {
	select.fl-select {
		padding-right: 50px;
	}

	label.fl-label {
		top: -4px;
		left: 11px;
		font-size: 12px;
		border-radius: 0;
		background-color: transparent;
		transition: opacity $fl-transition-speed $fl-transition-easing,
					visibility $fl-transition-speed $fl-transition-easing,
					color $fl-transition-speed $fl-transition-easing,
					background-color $fl-transition-speed $fl-transition-easing,
					top $fl-transition-speed $fl-transition-easing;
		padding: 4px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 9px;
			left: 0;
			right: 0;
			height: 9px;
			background-color: #fff;
			z-index: -1;
		}
	}

	&.fl-wrap-textarea label.fl-label {
		right: auto;
	}

	&.fl-wrap-select:after {
		content: '';
		position: absolute;
		display: block;
		top: 18px;
		right: 38px;
		height: 8px;
		width: 8px;
		border: 1px solid $fl-color-placeholder;
		border-width: 1px 1px 0 0;
		transform: rotate(135deg);
		z-index: 2;
	}
}

.fl-wrap.fl-is-active {
	input.fl-input,
	select.fl-select,
	textarea.fl-textarea {
		padding: ($fl-base-padding * 2);
	}

	label.fl-label {
		top: -9px;
		background-color: transparent;
	}
}

.fl-wrap.fl-has-focus {
	label.fl-label {
		background-color: transparent;
	}
}
